*{
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
    box-sizing: border-box;
}
.container {
    width: 100%;
    min-height: 100vh;
    background-color: #1f2937;
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    font-family: Roboto;
}
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

}
#logo{
    width: 100px;
    cursor: pointer;
}
nav ul{
    list-style: none;
    padding-right: 60px;
}
nav ul li {
    display: inline-block;
    margin: 10px 20px;
}



.header2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 10%;
    gap: 16px;
}
.content h1 {
    font-size: 48px;
    color: #F9FAf8;
    font-weight: 900;
    
}
.link1{
    font-size: 18px;
    color: #e5e7eb;
}
.content button {
    background-color: #3882f6;
    padding: 8px 24px;
    border-radius:10%;
    border: #3882f6;
    font-weight: bold;
}
h5 {
    font-size: 24px;
    color: #F9FAf8;
}
.header2 img {
    width: 90%;
    margin-top: 5%;
}
.secondSection h1 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-top: 5%;
}
.secondSection1 {
    width: 100;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0;
}
.secondSection1 p{
    text-align: center;
}
.thirdSection{
    background-color: #E5E7EB;
    padding: 15% 10%;
}
.thirdSection p {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}
.thirdSection h6{
    text-align: end;
    font-size: 36px;
}
.forthSection {
    background-color: #3882F6;
    margin: 10% 5%;
    padding: 5%;
    display: flex;
    justify-content: space-between;
}
.forthSection button{
    background-color: #3882F6;
    border-radius: 20%;
    color: #e5e7eb;
    border-color: #F9FAf8;
    padding: 0.5% 1%;
}
.fifthSection{
    background-color: #3882F6;
}
.fifthSection p {
    text-align: center;
    padding: 4% 2%;
}





